<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Personal website of Goku Yilmaz. Engineer, entrepreneur, gamer, biohacker.">
    <meta name="keywords" content="goku,goktug,goktug-yilmaz,gamer,esqarrouth,software,engineer,swift,typescript,io,games,entrepreneur,startup,dawn,of,crafting">
    <meta name="author" content="Goku Yilmaz">

    <title>
        {% if page.title %}
            {{ page.title }} &middot; {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <script src="{{ site.baseurl }}/theme/js/jquery-3.2.1.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/popper.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/site.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/syntax.css">

</head>
